
{% extends './base.html' %}
{% block content %}

    {% include './secondBase.html' %}
    
    {% block secondBase %}
        

    <h1>Welcome to ai blog generator</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dignissimos voluptatum debitis tempore culpa, voluptate recusandae perspiciatis molestias officia qui officiis odit quod, quibusdam id quos quidem. Fugiat architecto consequatur nulla ipsam cupiditate iure provident earum veritatis, commodi magnam quae, eius eligendi reprehenderit ducimus. Vitae non autem exercitationem architecto ad.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur unde iusto nesciunt eveniet delectus. Itaque dignissimos pariatur quam dolorum earum, quos esse at ducimus similique consectetur aperiam, minima unde deserunt!</p>

    {% endblock secondBase %}
    



    {% endblock  %}





